<section class="screen pb-12">
  <at-screen-header [title]="pokemon.name"></at-screen-header>
  <div class="grid grid-cols-3 w-full text-2xl md:text-4xl">
    <div class="m-4 border-4 border-black" (click)="changeSprite()">
      <img class="w-96" [src]="pokemonSprite.index[pokemonSprite.current]" />
    </div>
    <div class="flex items-center col-span-2">
      <div>
        <p>Height: {{ pokemon.height }} cm</p>
        <p>Weight: {{ pokemon.weight }} kg</p>
        <p>Experience: {{ pokemon.base_experience }}</p>
      </div>
    </div>
    <div class="col-span-3 grid grid-cols-1 md:grid-cols-2 px-4">
      <mol-screen-pokemon-skills
        label="Abilities"
        [skills]="pokemonAbilities"
      ></mol-screen-pokemon-skills>
      <mol-screen-pokemon-skills
        label="Types"
        [skills]="pokemonTypes"
      ></mol-screen-pokemon-skills>
    </div>
    <mol-screen-pokemon-skills
      class="col-span-3 px-4 pt-2"
      label="Moves"
      columns="2"
      [skills]="pokemonMoves"
    ></mol-screen-pokemon-skills>
  </div>
  <div class="screen-footer">
    <at-screen-btn (click)="onClickBack.emit()"> < Back </at-screen-btn>
  </div>
</section>
